.idea/
.vscode/
node_modules/
build/
tmp/
temp/
*.log
.env
.DS_Store
.eslintcache
log-seed.txt
logs/
assets/processedDD.json
assets/processedYT.json
assets/processedArticles.json
assets/processedShorts.json
assets/processedSnyk.json
assets/processedReddit.json